@layer preset {
  .p-chip {
    font-size: var(--p-chip-app-fontSize);
    .p-chip-label {
      padding-block: var(--p-chip-padding-y);
      padding-inline: var(--p-chip-padding-x);
    }
    .icon-close {
      min-width: fit-content;
      min-height: fit-content;
      color: var(--p-chip-remove-icon-color);
    }
  }
} 