@use '@/assets/styles/reset';

@forward '@/assets/styles/variables';
@forward '@/assets/styles/mixins';

@forward '@/assets/styles/fonts';
@forward '@/assets/styles/animations';
@forward '@/assets/styles/common';

// PrimeVue styles
// @forward '@/assets/styles/primevue/preset';
@forward '@/assets/styles/primevue/_index';

@forward '@/assets/styles/components';
